<h2>Add new post</h2>
<form action="/new" method="post">
  <textarea name="post_message[post]" class="form-control" rows="6" placeholder="Введите текст поста" style="width: 1000px; background-color: yellow"></textarea> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
